<head>
  <link href="https://fonts.googleapis.com/css?family=Delius|Lato" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="favicon" href="images/favicon.png" type="image/png"/>
  <link href="css/lightbox.css" rel="stylesheet">
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="js/article.js"></script>
  <script type="text/javascript" src="js/waves.js"></script>
  <script src="js/lightbox.js"></script>
</head>
