<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="lees en bekijk hier de levensverhalen van de IJmuidenaren">
	<meta name="keywords" content="vissenkoppen,vissenkop,vis,kop,ijmuiden,ijmuider courant,courant,verhalen,vertellen,lezen,
	velsen,realistisch,kabeljauw,ijmuidenaren,persoonlijk,personen,foto’s,grauw,zwart-wit">
	<meta name="author" content="Anton Kritikos, Dave van Rossum, Damaris Burgess, Barbara Stolk en Quinty Kemper">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Delius|Lato" rel="stylesheet">
  	<link rel="stylesheet" href="css/main.css">
  	<link rel="favicon" href="images/favicon.png" type="image/png"/>
  	<link href="css/lightbox.css" rel="stylesheet">
  	<script type="text/javascript" src="js/jquery.min.js"></script>
  	<script type="text/javascript" src="js/article.js"></script>
  	<script type="text/javascript" src="js/waves.js"></script>
  	<script src="js/lightbox.js"></script>
</head>
