<div class="container">
  <div class="article " data-container="1">
    <div class="img hidden" data-content="1">
    </div>
    <div class="text hidden" data-content="1">
      <h1>
        De man met de kleine.
      </h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <a href="">Lees meer...</a>
    </div>
  </div>

  <div class="article " data-container="2">
    <div class="img hidden" data-content="2">
    </div>
    <div class="text hidden" data-content="2">
      <h1>
        De vrouw met de grote wonden.
      </h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <a href="#">Lees meer...</a>
    </div>
  </div>

  <div class="article " data-container="3">
    <div class="img hidden" data-content="3">
    </div>
    <div class="text hidden" data-content="3">
      <h1>
        De vrouw met de grote wonden.
      </h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <a href="#">Lees meer...</a>
    </div>
  </div>

  <div class="article " data-container="4">
    <div class="img hidden" data-content="4">
    </div>
    <div class="text hidden" data-content="4">
      <h1>
        De vrouw met de grote wonden.
      </h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <a href="#">Lees meer...</a>
    </div>
  </div>

  <div class="article " data-container="5">
    <div class="img hidden" data-content="5">
    </div>
    <div class="text hidden" data-content="5">
      <h1>
        De vrouw met de grote wonden.
      </h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <a href="#">Lees meer...</a>
    </div>
  </div>
