<link rel="stylesheet" href="article.css">
<script type="text/javascript" src="jquery.min.js">

</script>
<script type="text/javascript" src="article.js">

</script>
<div class="container">
  <div class="article " data-container="1">
    <div class="img hidden" data-content="1">
    </div>
    <div class="text hidden" data-content="1">
      <h1>
        Test Title
      </h1>
      <h2>
        Test SubTitle
      </h2>
      <p>
        Test Text
      </p>
      <a href="">Klik Hier</a>
    </div>
  </div>

  <div class="article " data-container="2">
    <div class="img hidden" data-content="2">
    </div>
    <div class="text hidden" data-content="2">
      <h1>

      </h1>
      <p>

      </p>
    </div>
  </div>
