.container{
  height: auto;
  .article:first-of-type{
    margin: 20px auto;
  }
  .article{
    max-width: $WidthSmall;
    width: 100%;
    height: $HeightSmall;
    overflow: hidden;
    margin: 60px auto;
    display: block;
    transition: 1s ease all;
    background-size: cover;
    background-repeat: no-repeat;
    &:last-child{
      margin-bottom: 20px;
    }
    div{
      h1{
        margin: 0;
        font-size: 18px;
        line-height: $LineHeight;
      }
      max-width: $SlideWidthSmall;
      width: 50%;
      height: 100%;
      transition: 1s ease all;
      &.img{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        float: left;
      }
      &.text{
        background-color: $Color6;
        float: right;
      }
    }
    &:hover{
      cursor:pointer;
    }
    &.open{
      max-width: $WidthBig;
      width: 100%;
      height: $HeightBig;
      div{
        margin-right: 0px;
        max-width: $SlideWidthBig;
      }
    }
  }
}
