.container{
  height: auto;
  .article:first-of-type{
    margin: 20px auto;
  }
  .article{
    max-width: $WidthSmall;
    width: 100%;
    height: $HeightSmall;
    overflow: hidden;
    margin: 60px auto;
    display: block;
    transition: 1s ease all;
    background-size: cover;
    background-repeat: no-repeat;
    div{
      h1{
        margin: 0;
        line-height: $LineHeight;
      }
      width: $SlideWidthSmall;
      height: 100%;
      transition: 1s ease all;
      &.img{
        background-image: url('http://img12.deviantart.net/cfa2/i/2015/247/8/e/the_view_by_xlocky-d988pnv.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        float: left;
      }
      &.text{
        background-color: $Color6;
        float: right;
      }
    }
    &:hover{
      cursor:pointer;
    }
    &.open{
      max-width: $WidthBig;
      height: $HeightBig;
      div{
        margin-right: 0px;
        width: $SlideWidthBig;
      }
    }
  }
}
