*{
	margin: 0;
	padding: 0;
}
body{
	background-image:url("../img/bg.png");
	background-size: 100%;
  background-repeat: repeat;
}
h1{
  font-family: 'Delius', cursive;
  font-size: 18px;
  text-align: center;
}
h2,h3,h4,h5,h6{
  font-family: 'Delius', cursive;
  padding: 10px;
}
p,a{
  font-family: $Lato, sans-serif;
  padding: 10px;
}
