@charset "UTF-8";
/* CSS Document */
.title{
	color: $Color6;
	padding-bottom: 2em;
}
.back{
	width: 300px;
	height: 150px;
	background-image: url("../images/terug_1.png");
	transition: ease 1s all;
	background-size: contain;
	margin: 0px;
	&:hover{
		background-image: url("../images/terug_2.png");
	}
}
.container2{
	max-width: 1300px;
	margin: auto;
	// padding: 50px;
	height: 800px;
	.kaders{
		max-width: 630px;
		width: 630px;
		float: left;
		padding: 0;
		.image{
			padding: 5px;
			float: left;
			overflow: hidden;
			img{
				width: 200px;
			}
			&:first-child{
				width: 620px;
				height: auto;
				img{
					width: 620px;
				}
			}
		}
	}
	.tekst{
		max-width: 630px;
		width: 535px;
		padding: 40px;
		margin-top: 7px;
		margin-left: 50px;
		float: left;
		background-color: rgba(255,255,255,0.73);
		overflow: auto;
		height: 600px;
		font-size: 18px;
		line-height: 23px;
	}
}
@media (max-width: 1310px) {
	.container2{
		max-width: 1110px;
		.tekst{
			width: 480px;
		}
		.kaders{
			max-width: 480px;
			width: 480px;
			.image{
				img{
					width: 150px;
				}
				&:first-child{
					width: 470px;
					height: auto;
					img{
						width: 470px;
					}
				}
			}
		}
	}
}
@media (max-width: 1110px) {
	.container2{
		max-width: 590px;
		height: 1600px;
		.tekst{
			width: 495px;
			margin-left:5px;
		}
		.kaders{
			max-width: 590px;
			width: 590px;
			.image{
				img{
					width: 185px;
				}
				&:first-child{
					width: 585px;
					height: auto;
					img{
						width: 575px;
					}
				}
			}
		}
	}
}
