$Aubrey: 'Aubrey', cursive;
$Delius: 'Delius', cursive;
$Lato: 'Lato', sans-serif;
$Color1: #00484f;
$Color2: #191724;
$Color3: #4d1d25;
$Color4: #947c70;
$Color5: #22344e;
$Color6: #f3f1f0;
$LineHeight: 60px;
$MobileWidthSmall: 200px;
$WidthSmall: 450px;
$SlideWidthSmall: 200px;
$HeightSmall: 60px;
$WidthBig: 580px;
$SlideWidthBig: 290px;
$HeightBig: 360px;
